body {
 
  background: rgba(111, 156, 234, 0.95);
  color: #333;
}
.navbar{
  background: rgba(146, 175, 190, 0.95);
  backdrop-filter: blur(10px);
  padding: 1rem 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
}
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
.nav-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1414e0;
}
.nav-logo i {
  margin-right: 0.5rem;
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background: rgba(102, 126, 234, 0.1);
  color: #0725eb;
}


/* Buttons */
.btn {
  padding: 0.6rem 1.25rem;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.95rem;
}
.btn-primary {
  background: linear-gradient(135deg, #0f38f1, #db4444);
  color: white;
}
.btn-primary:hover {
  transform: translate(-1px);
  box-shadow: 0 4px 15px rgba(60, 89, 216, 0.3);
}
.btn-outline {
  background: transparent;
  border: 2px solid #099df9;
  color: #099df9;
}



